<ul class="nav nav-tabs upper">
  <% @btns.each do |status, value| %>
    <li class="nav-item">
      <%= link_to "#{value}", {action: :index, s: status, q: params[:q] }, class: "nav-link cama_ajax_request #{ status.to_s == params[:s] ? "active" : "" }" %>
    </li>
  <% end  %>
</ul>