.relative {
  position: relative;
}
.padded-v {
  padding: 1rem 10px;
}
.padded-v-big {
  padding: 2rem 10px;
}

.padded {
  padding: 1rem 2rem;
}
.b-l {
  border-left: 1px solid $border-color;
}
.b-r {
  border-right: 1px solid $border-color;
}
.b-t {
  border-top: 1px solid $border-color;
}
.b-b {
  border-bottom: 1px solid $border-color;
}

.m-t {
  margin-top: 1rem;
}
.m-b {
  margin-bottom: 1rem;
}

@media (min-width: 992px) {
  .padded-lg {
    padding: 1rem 2rem;
  }
  .b-l-lg {
    border-left: 1px solid $border-color;
  }
  .b-r-lg {
    border-right: 1px solid $border-color;
  }
  .b-t-lg {
    border-top: 1px solid $border-color;
  }
  .b-b-lg {
    border-bottom: 1px solid $border-color;
  }
}