.page-content-wrap
  .row
    .col-xs-12
      .box.box-primary
        .box-header.with-border
          %h3.box-title= t('camaleon_cms.admin.sidebar.dashboard')
        .box-body
          %h1 Welcome to your Admin Dashboard
          
          - r = {content: ""}; hooks_run("on_notification", r);
          #dashboard_notifications
            = raw r[:content]
            
          - r = {content: ""}; hooks_run("on_dashboard", r);
          #dashboard_items
            = raw r[:content]
  .row
    .col-lg-3.col-xs-6
      .small-box.bg-aqua
        .inner
          %h3 23
          %p New contacts
        .icon
          %i.fa.fa-envelope-o
        %a.small-box-footer{href: "#"}
          More info
          %i.fa.fa-arrow-circle-right
    .col-lg-3.col-xs-6
      .small-box.bg-green
        .inner
          %h3
            52
            %sup{style:"font-size:20px;"} %
          %P Bounce rate
        .icon
          %i.fa.fa-pie-chart
        %a.small-box-footer{href: "#"}
          More info
          %i.fa.fa-arrow-circle-right
  
  %h2.page-header Quick Links
  .row
    .col-md-3.col-sm-6.col-xs-12
      %a.info-box{href: "#"}
        %span.info-box-icon.bg-yellow
          %i.fa.fa-files-o
        .info-box-content
          %span.info-box-text New
          %span.info-box-number Blog Post
