<div class="row">
  <div class="col-lg-12">
    <div class="element-wrapper">
      <h6 class="element-header"><%= t('camaleon_cms.admin.sidebar.dashboard') %></h6>
      <div class="element-box" style="min-height: 350px">
        <% r = {content: ""}; hooks_run("on_notification", r); %>
        <div id="dashboard_notifications">
            <%= raw r[:content] %>
        </div>

        <% r = {content: ""}; hooks_run("on_dashboard", r); %>
        <div id="dashboard_items">
            <%= raw r[:content] %>
        </div>
      </div>
    </div>
  </div>
</div>