#custom-field-time-select select {
  width: initial;
  display: inline-block;
}
//************** mixins
@mixin link_round($radio: 30) {
  border: 1px solid #bbb;
  border-radius: 50%;
  color: #656d78;
  display: block;
  float: left;
  height: #{$radio}px;
  line-height: #{$radio - 3}px;
  margin-left: 3px;
  text-align: center;
  transition: all 200ms ease 0s;
  width: #{$radio}px;
}

//************** Main content
#admin_content {
  min-height: 400px;
  .panel {
    &.panel-toggled > .panel-body {
      display: none;
    }
    .panel-heading {
      //overflow: hidden;
      position: relative;
      .panel-controls {
        float: right;
        list-style: outside none none;
        position: absolute;
        right: 26px;
        top: 5px;
        li {
          float: left;
          a {
            @include link_round();
          }
        }
      }
      > .btn{
        position: absolute;
        right: 26px;
        top: 14px;
      }
    }
    .panel-footer {
      overflow: hidden;
    }

  }

  // label size
  .label.label-form {
    font-size: 12px;
    vertical-align: middle;
  }
  // reset label inputs
  label {
    input[type="radio"], input[type="checkbox"] {
      margin-right: 4px;
    }
  }
  // category lists
  .categorychecklist {
    padding-left: 10px;
    list-style: none;
    ul {
      padding-left: 25px;
      list-style: none;
    }
  }

  #form-post {
    .sl-slug-edit {
      margin-top: 4px;
    }
    .gallery-item-remove {
      position: absolute;
      margin-top: -22px;
    }
  }

  // widgets
  #content-widget .widgets-available .small-box {
    .inner {
      padding-top: 30px;
    }
    a {
      position: absolute;
      top: 4px;
      right: 5px;
      @include link_round(25);
      background: rgba(250, 250, 250, 0.4);
      &.edit_link {
        left: 5px;
        right: auto;
      }
    }
  }

  // pagination
  div.pagination {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    & > * {
      background-color: #fafafa;
      border: 1px solid #ddd;
      color: #777;
      padding: 6px 12px;
      margin: 0 -2px;
    }
    em {
      background-color: #337ab7;
      border-color: #337ab7;
      color: #fff;
      cursor: default;
    }
    span {
      cursor: not-allowed;
    }
  }
  form {
    .form-group > .trans_panel{
      margin-top: -25px;
    }
  }
}

//************** sidebar left
#sidebar-menu{
  z-index: 2;
}

//************** reset modals
.modal, #admin_content {
  .btn_upload {
    cursor: pointer;
  }
  .input-append.date .input-group-addon {
    padding: 7px 0;
    width: 30px;
  }
  .input-group.color{
    .input-group-addon {
      background-color: #ccc;
    }
    .over_field + span{
      padding: 5px;
      position: absolute;
      right: 0;
      top: 0;
      width: 30px;
    }
  }

  // translations
  .trans_panel {
    .nav-tabs .has-error {
      color: #a94442;
    }
    .tab-pane .has-error {
      border: 1px solid #a94442;
    }
  }
  .trans_panel {
    //fix for multilanguage tabs
    //margin-top: -25px;
  }

  // custom fields render in forms
  .item-custom-field {
    margin-bottom: 15px;
    > label {
      display: block;
      .shortcode_field input{
        min-width: 250px;
      }
    }
    .actions{
      overflow: hidden;
      width: 67px;
      float: left;
      .fa {
        @include link_round;
      }
      & + .group-input-fields-content {
        margin-left: 75px;
      }
    }
  }
  .custom_sortable_grouped .header-field-grouped{
    padding: 5px;
    margin-bottom: 3px;
    .fa{
      @include link_round;
      display: inline-block;
      float: none;
    }
  }
}

//************** Main Header && intro js custom
#main-header{
  z-index: 4;
  &.introjs-fixParent{
    width: 100%;
    .navbar {
      width: 100%;
    }
  }
  .logo img {
    max-width: 100%;
    max-height: 100%;
  }
}

//************** fix tinymce fullscreen
div.mce-fullscreen{
  z-index: 10;
}

#tab-information {
  .admin_logo_upload {
    a img {
      border-radius: 0;
      box-shadow: none;
      border: 1px solid #d2d6de;
      padding: 8px;
      margin: 10px 10px 0 0;
    }
  }
}

//************** custom loading style
#cama_custom_loading{
  position: relative;
  z-index: 999999;
  .back_spinner{
    position: fixed;
    z-index: 99998;
    width: 100%;
    top: 0px;
    height: 100%;
    background-color: #2D95BF;
    background-color: rgba(60, 141, 188, 0.2);
  }
  .loader_spinner{
    z-index: 99999;
    position: fixed;
    left: 50%;
    margin-left: -35px;
    margin-top: -35px;
    top: 50%;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background: image_url("camaleon_cms/admin/admin_spinner.gif") no-repeat center center #2D95BF;
  }
}

// copy paste code style
input.code_style{
  background-color: #f9f2f4;
  border-radius: 4px;
  color: #c7254e;
  font-size: 90%;
  padding: 2px 4px;
  font-weight: normal;
  border: none;
}

// fix tab content padding
.tab-content > .tab-pane{
  padding-top: 5px;
}
.content-upload-plugin{
  min-height: 45px;
  position: relative;
  .rm-file{
    position: absolute;
    top: 100%;
    margin-top: -22px;
  }
  img{
    max-height: 100px;
    max-width: 200px;
  }
}
label.error, span.error{
  color: #a94442;
  font-size: 11px;
}

// ------------------ Added most recently -----------------------------------
// Deactivate any anchor
.not-active {
  pointer-events: none;
  cursor: default;
}

// Breadcrumb
ol.breadcrumb {
  background-color: transparent;
  padding: 0 15px;
  text-align: right;
  font-size: 12px;
  margin-bottom: 15px;
  color: #777;

  a {
    color: black;
  }

  & li + li:before {
    content: ">";
  }
}

// Custom responsive tables
.custom-tabe-responsive {
  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  table tr {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
    table caption {
      font-size: 1.3em;
    }
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    table td:before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    table td:last-child {
      border-bottom: 0;
    }
  }
}

// Box tools
.box-tools a {
  color: #444;}

.btn-box-action {
  background-color: transparent;
  font-size: 15px;

  i {
    font-size: 13px;}
}

// User menu dropdown overrides
.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
  right: 0;
}

// Sidebar link spacing
.sidebar-menu > li > a {
  padding: 18px 8px 18px 15px;
}

.sidebar-menu .treeview-menu > li > a {
  padding: 8px 8px 8px 16px;
}

#main-header {
  border-bottom: 1px solid #d2d6de;

  & .logo {
    border-right: none;
    padding: 0 5px 15px;

    & img {
      max-height: 90%;
    }
  }

  & .navbar > .sidebar-toggle {
    border-left: 1px solid #d2d6de;
    border-right: none;
  }
}

// Desktop view
@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span {
    padding: 18px 5px 18px 20px;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    top: 56px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
}


// Mobile view
@media (max-width: 767px) {
  // Login screen
  .login-box,
  .register-box {
    width: auto;
  }

  // Hide breadcrumb on mobile
  ol.breadcrumb {
    display: none;
  }

  // Override bg color behind logo
  .skin-black-light .main-header > .logo {
    background-color: #ccc !important;
  }

  // Make sidebar full screen width
  .sidebar-open #sidebar-menu {
    width: 100% !important;
  }
  .sidebar-open .content-wrapper,
  .sidebar-open .right-side,
  .sidebar-open .main-footer {
    -webkit-transform: translate(100%);
    -ms-transform: translate(100%);
    -o-transform: translate(100%);
    transform: translate(100%);
  }

  // Enlarge sidebar menu links and sub-links
  .sidebar-menu > li > a {
    padding: 20px;
    display: block;
    text-align: center;
  }
  .sidebar-menu .treeview-menu > li > a {
    padding: 20px;
    text-align: center;
  }
  .treeview-menu {
    padding-left: 0 !important;

    & > .xn-openable > .treeview-menu {
      background-color: #fff;

      & > li > a {
        border-bottom: 1px solid #eee;
        &:hover { color: #000; }
      }
    }
  }

  // User menu dropdown
  .navbar-nav > .user-menu > .dropdown-menu {
    width: 100%;
  }
}

// -------------- MEDIA
#cama_media_gallery .media_browser_list {
  background-color: transparent !important;
  border-right: none !important;
  padding: 0 15px !important;
}
