<footer class="main-footer" id="main-footer">
    <div class="row">
        <div class="col-md-6">
            <div class="pull-left">
                <span style="font-weight:bold;font-size:11px;">Version</span> BETA
            </div>
            <div class="hidden">
                <a id="link_see_intro" href="#" onclick="init_intro(); return false;"><i class="fa fa-tv"></i> <%= I18n.t('camaleon_cms.see_intro') %>.</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="pull-right">
                <b>flexx.</b> <small>by Rynger | DEV</small>
            </div>
        </div>
    </div>
</footer>