<div class="desktop-menu menu-side-compact-w menu-activated-on-hover color-scheme-dark">
  <div id="side-menu-logo" class="logo-w">
    <a class="logo" href="<%= cama_admin_dashboard_path %>"><img src="<%= asset_path 'rynger_cms/flexx-sq_wht.png' %>"></a>
  </div>
  <div class="menu">
    <ul class="main-menu">
      <%= raw _admin_menu_draw %>
      <li title="" class="" data-intro="This will take you to your live site.">
        <a href="<%= current_site.the_url(locale: nil) %>" target="_blank">
          <div class="icon-w">
            <i class="os-icon os-icon-window-content"></i>
          </div>
          <span>View Site</span>
        </a>
      </li>
    </ul>
  </div>
</div>