<div class="top-menu-secondary">
  <ul>
    <li>
      <a href="#">a</a>
    </li>
    <!--<li class="active">-->
    <!--  <a href="#">Home</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--  <a href="#">Projects</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--  <a href="#">Customers</a>-->
    <!--</li>-->
    <!--<li>-->
    <!--  <a href="#">Reports</a>-->
    <!--</li>-->
  </ul>
  <div class="top-menu-controls">
    <div class="element-search hidden-lg-down">
      <input placeholder="Start typing to search..." type="text">
    </div>
    <div class="top-icon top-search hidden-xl-up">
      <i class="os-icon os-icon-ui-37"></i>
    </div>
    <!--------------------
    START - Messages Link in secondary top menu
    -------------------->
    <div class="messages-notifications os-dropdown-trigger os-dropdown-center">
      <i class="os-icon os-icon-mail-14"></i>
      <div class="new-messages-count">
        12
      </div>
      <div class="os-dropdown light message-list">
        <div class="icon-w">
          <i class="os-icon os-icon-mail-14"></i>
        </div>
        <ul>
          <li>
            <a href="#">
              <div class="user-avatar-w">
                <img alt="" src="img/avatar1.jpg">
              </div>
              <div class="message-content">
                <h6 class="message-from">
                  John Mayers
                </h6>
                <h6 class="message-title">
                  Account Update
                </h6>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--------------------
    END - Messages Link in secondary top menu
    --------------------><!--------------------
    START - Settings Link in secondary top menu
    -------------------->
    <div class="top-icon top-settings os-dropdown-trigger os-dropdown-center">
      <i class="os-icon os-icon-ui-46"></i>
      <div class="os-dropdown">
        <div class="icon-w">
          <i class="os-icon os-icon-ui-46"></i>
        </div>
        <ul>
          <li>
            <a href="#"><i class="os-icon os-icon-ui-49"></i><span>Profile Settings</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-grid-10"></i><span>Billing Info</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-ui-44"></i><span>My Invoices</span></a>
          </li>
          <li>
            <a href="#"><i class="os-icon os-icon-ui-15"></i><span>Deactivate Account</span></a>
          </li>
        </ul>
      </div>
    </div>
    <!--------------------
    END - Settings Link in secondary top menu
    -------------------->
  </div>
</div>