<div class="top-menu-secondary">
  <div class="top-icon top-settings">
      <a href="#"><i class="os-icon os-icon-common-07"></i></a>
  </div>
  <ul>
    <% if @btns %>
      <% @btns.each do |status, value| %>
        <li class="<%= status.to_s == params[:s] ? 'active' : '' %>">
          <%= link_to "#{value}", {action: :index, s: status, q: params[:q] }, class: "nav-link cama_ajax_request" %>
        </li>
      <% end  %>
    <% end  %>
    <!--<li>-->
    <!--  <a href="#"><i class="os-icon os-icon-common-07"></i></a>-->
    <!--</li>-->
    <!--<li class="active">-->
    <!--  <a href="#">Home</a>-->
    <!--</li>-->
  </ul>
  <div class="top-menu-controls">
    <!--<form action="<%= cama_admin_search_path %>" method="get" class="sidebar-form cama_ajax_request">-->
    <!--  <div class="element-search hidden-lg-down">-->
    <!--    <input placeholder="Search content..." type="text">-->
    <!--  </div>-->
    <!--  <div class="top-icon top-search hidden-xl-up">-->
    <!--    <button type="submit" id="search-btn"><i class="os-icon os-icon-ui-37"></i></button>-->
    <!--  </div>-->
    <!--</form>-->
    <!--------------------
    START - Messages
    
    <div class="messages-notifications os-dropdown-trigger os-dropdown-center">
      <i class="os-icon os-icon-mail-14"></i>
      <div class="new-messages-count">
        12
      </div>
      <div class="os-dropdown light message-list">
        <div class="icon-w">
          <i class="os-icon os-icon-mail-14"></i>
        </div>
        <ul>
          <li>
            <a href="#">
              <div class="user-avatar-w">
                <img alt="" src="img/avatar1.jpg">
              </div>
              <div class="message-content">
                <h6 class="message-from">
                  John Mayers
                </h6>
                <h6 class="message-title">
                  Account Update
                </h6>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--------------------
    END - Messages
    --------------------><!--------------------
    START - Settings
    
    <div class="top-icon top-settings os-dropdown-trigger os-dropdown-center">
      <i class="os-icon os-icon-ui-46"></i>
      <div class="os-dropdown">
        <div class="icon-w">
          <i class="os-icon os-icon-ui-46"></i>
        </div>
        <ul>
          <li>
            <a href="#"><i class="os-icon os-icon-ui-49"></i><span>App Settings</span></a>
          </li>
        </ul>
      </div>
    </div>
    <!--------------------
    END - Settings
    -------------------->
  </div>
</div>